page-foodmenu {
    .food-preview-img {
        width: 100px;
        display: inline-block;
        float: left;
    }

    .menu-item {
        padding: 0;
    }

    .description {
        padding: 10px;
        float: left;
        width: calc(100% - 100px);
        h2 {
            font-weight: bold;
        }
        .next-button {
            float: right;
            margin: 0;
            padding: 0;
        }
    }

}
