page-checkout {
    .no-header {
        display: none;
    }
    .checkout {
        background-color: #d2d2d2 !important;
        text-align: center;
    }

    .checked {
        margin-top: 80px;
    }
}
